body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

.background{
    background: url(./cc2d63ce0d75373b6dffe2974770a356.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.chamada {
    padding-bottom: 900px;
    padding-top: 80px;
    display: flex;
    justify-content: left;
}

.chamada-texto {
    margin-right: 8%;
    padding-right: 30px;
}

h1 {
    font-size: 40px;
    margin: 0px 0px 0px 110px;
}

p {
    font-size: 20px;

    margin: 0px 0px 0px 110px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 200px;
   
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(42, 122, 228);
}